.block {
  height: 300px;
  padding-top: 15px;
}

.block2 {
  min-height: 160px;
  padding-top: 15px;
}

.center {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
}

.right {
  float: right;
}

#spacing {
  padding-top: 20px;
}

.alert {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 100px;
  margin: auto;
  color: green;
  font-weight: 900;
  font-size: large;
}

.alert2 {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 80px;
  margin: auto;
  color: green;
  font-weight: 900;
  font-size: large;
}

.alert3 {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 80px;
  margin: auto;
  color: red;
  font-weight: 900;
  font-size: large;
}
